@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717; /* Default text color (black for light mode) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background */
    --foreground: #171717; /* Same text color as light mode */
  }
}

body {
  color: var(--foreground); /* Use the foreground variable for text color */
  background: var(--background); /* Use the background variable */
  font-family: Arial, Helvetica, sans-serif;
}